from flask import request, jsonify
from flask_jwt_extended import create_access_token, create_refresh_token, get_jwt_identity
from app.core.extensions import db
from app.models.models import User
{% for model in models %}
from app.models.models import {{ model.name }}
{% endfor %}

class AuthController:
    @staticmethod
    def register():
        data = request.get_json()
        if not data or not data.get('username') or not data.get('password'):
            return jsonify({'msg': 'Missing username or password'}), 400

        if User.query.filter_by(username=data['username']).first():
            return jsonify({'msg': 'Username already exists'}), 400

        user = User(username=data['username'])
        user.set_password(data['password'])
        
        db.session.add(user)
        db.session.commit()
        
        return jsonify({'msg': 'User created successfully'}), 201

    @staticmethod
    def login():
        data = request.get_json()
        if not data or not data.get('username') or not data.get('password'):
            return jsonify({'msg': 'Missing username or password'}), 400

        user = User.query.filter_by(username=data['username']).first()
        if not user or not user.check_password(data['password']):
            return jsonify({'msg': 'Bad username or password'}), 401

        access_token = create_access_token(identity=user.id)
        refresh_token = create_refresh_token(identity=user.id)
        
        return jsonify(access_token=access_token, refresh_token=refresh_token)

    @staticmethod
    def refresh():
        current_user = get_jwt_identity()
        access_token = create_access_token(identity=current_user)
        return jsonify(access_token=access_token)

    @staticmethod
    def get_me():
        current_user = get_jwt_identity()
        user = User.query.get(current_user)
        return jsonify(user.to_dict())

{% for model in models %}
class {{ model.name }}Controller:
    @staticmethod
    def get_all():
        items = {{ model.name }}.query.all()
        return jsonify([item.to_dict() for item in items])

    @staticmethod
    def get_by_id(id):
        item = {{ model.name }}.query.get_or_404(id)
        return jsonify(item.to_dict())

    @staticmethod
    def create():
        data = request.get_json()
        item = {{ model.name }}()
        {% for field in model.fields %}
        if '{{ field.name }}' in data:
            item.{{ field.name }} = data['{{ field.name }}']
        {% endfor %}
        db.session.add(item)
        db.session.commit()
        return jsonify(item.to_dict()), 201

    @staticmethod
    def update(id):
        item = {{ model.name }}.query.get_or_404(id)
        data = request.get_json()
        {% for field in model.fields %}
        if '{{ field.name }}' in data:
            item.{{ field.name }} = data['{{ field.name }}']
        {% endfor %}
        db.session.commit()
        return jsonify(item.to_dict())

    @staticmethod
    def delete(id):
        item = {{ model.name }}.query.get_or_404(id)
        db.session.delete(item)
        db.session.commit()
        return '', 204
{% endfor %}
